.topnav {
    text-align: left;
    padding: 8px;
    padding-left: 50px;
    background-color: rgb(236, 234, 234);
}

footer {
    text-align: center;
    font-size: 27px;
    background-color: rgb(236, 234, 234);
    position: absolute;
    bottom: 12px;
    width: 2315px;
    padding-top: 50px;
    padding-bottom: 25px;
}  

button {
    background-color: rgb(236, 234, 234);
    width: 200px;
    height: 65px;
    font-size: 20px;
    padding: 10px;
    border-radius: 7.5px;
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

#button {
    position: fixed;
    right: 50px;
    top: 24px;
}

#button2 {
    padding: 10px 45px 10px 45px;
    background-color: black;
    color: white;
    position: fixed;
    left: 175px;
    height: 80px;
    width: 250px;
}

.tervetuloa {
    font-size: 500%;
    padding-top: 100px;
    padding-left: 175px;
}

.lorem {
    font-size: 225%;
    padding-left: 175px;
    font-family: Arial;
}

.img {
    position: absolute;
    bottom: 285px;
    right: 250px;
    font-size: 18px;
}